<div class="container analysis-container">
    
    {{#if analysis}}
        <h3 class="page-title">{{analysis.title}}</h3>
        <p class="analysis-group">{{analysis.excercise_type}}</p>
        
        <div class="analysis-content">
            <div class="video-wrapper">
                <h3>Video de Referencia</h3>
                <video controls src="{{analysis.video_route}}" style="width: 100%;"></video>
            </div>
            <div class="description-wrapper">
                <h3>Descripción y Análisis</h3>
                
                <div id="analysis-text-container" 
                    data-raw="{{analysis.analysis}}" 
                    data-video-id="{{analysis.id}}">
                
                    <div style="text-align: center; padding: 20px;">
                        <i class="fas fa-spinner fa-spin"></i>
                        <p>Procesando análisis con IA...</p>
                    </div>
                </div>
            </div>
        </div>

    {{else}}
        <h1 class="page-title">Error</h1>
        <p style="text-align: center; color: #ccc;">{{error}}</p>
    {{/if}}

    <a href="/galery" class="btn-1" style="margin-top: 2rem;">Volver al Historial</a>
</div>