<div class="container analysis-container">
    
    {{#if analysis}}
        <h1 class="page-title">{{analysis.title}}</h1>
        <p class="analysis-group">{{analysis.excercise_type}}</p>
        
        <div class="analysis-content">
            <div class="video-wrapper">
                <h3>Video de Referencia</h3>
                <video controls src="{{analysis.video_route}}" style="width: 100%;"></video>
            </div>
            <div class="description-wrapper">
                <h3>Descripción y Análisis</h3>
                <p>{{analysis.analysis}}</p>
                
            </div>
        </div>

    {{else}}
        <h1 class="page-title">Error</h1>
        <p style="text-align: center; color: #ccc;">{{error}}</p>
    {{/if}}

    <a href="/galery" class="btn-1" style="margin-top: 2rem;">Volver al Historial</a>
</div>